body {
  margin: 0;
  padding: 0;
}
.container {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #00052b88;
  align-items: center;
  text-align: center;
  position: relative;
}
.title-names {
  font-size: 75px;
  font-family: "Tangerine", cursive;
}
.header-info {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: #fff;
}
.container-images {
  position: absolute;
  width: 100vw;
  height: 100vh;
  border-radius: 0 0 10px 10px;
}
.background {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.one {
  animation-iteration-count: infinite;
  animation-name: one;
  animation-duration: 10s;
}
.two {
  animation-iteration-count: infinite;
  animation-name: two;
  animation-duration: 10s;
}
.three {
  animation-iteration-count: infinite;
  animation-name: three;
  animation-duration: 10s;
}
@keyframes three {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes two {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes one {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flower {
  width: 100%;
  margin-top: -45px;
  z-index: 1;
  position: relative;
}
.date p:nth-child(1) {
  color: #cecece;
  font-size: 36px;
  margin-bottom: -15px;
  font-family: "Inter", sans-serif;
}
.date {
  padding: 0 15px;
}
.date p:nth-child(2) {
  color: #cecece;
  font-weight: 300;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.invite {
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}
.day {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}
