body {
  background-color: #e9f2ff;
  color: #307aea;
  overflow-x: hidden;
}
.song-container {
  width: 100vw;
  display: flex;
  height: auto;
  flex-direction: column;
  margin-top: -50px;
  margin-bottom: 60px;
  align-items: center;
  overflow-x: hidden;
  text-align: center;
}
.flowers {
  position: absolute;
  width: auto;
  width: 80px;
  left: 0;
  margin-bottom: -320px;
}
.smoke {
  position: absolute;
  right: 0;
}
.large {
  width: auto;
  margin-bottom: 35%;
}
.left {
  position: absolute;
  left: 0;
  transform: scaleX(-1);
  z-index: -1;
}
.history {
  width: 100vw;
  height: 30vh;
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.humo {
  position: absolute;
  right: 0;
  margin-bottom: -100px;
  z-index: -1;
}
.title {
  font-size: 50px;
  margin: 0;
  color: #0e4caa;
  font-weight: 400;
  width: 80%;
  font-family: "Tangerine", cursive;
  text-align: center;
}
.subtitle {
  width: 80%;
  font-size: 18px;
}
.cards-container {
  width: 100vw;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.divider {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0 0 40px;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;
}
.section p:nth-child(1) {
  width: 85%;
}
footer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.credits {
  font-size: 20px;
}
