.container-parents {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
}
.active {
  border-bottom: 2px solid #307aea;
  width: 35%;
}
.inactive {
  color: #79aaf2;
  width: 35%;
}
