.parent {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: show;
  animation-duration: 0.5s;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.parent img {
  width: 100%;
  object-fit: cover;
  height: 282px;
  border-radius: 22px;
}
.phrase {
  margin: 0;
  width: 85%;
}
.name {
  font-family: "Tangerine", cursive;
  height: auto;
  margin: 10px 0 0;
  font-size: 36px;
}
