.track-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play,.pause{
    border: transparent;
    background: transparent;
    width: 25px;
    height: 25px;
    margin-top: 7px;
}
.progress{
<<<<<<< HEAD
    background-color: red;
=======
    background-color: aqua;
>>>>>>> 1c24baf (player component)
    border: transparent;
}